#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

#how-it-works {
    display: flexbox;
}


@media (max-width: 650px) {
    nav {
        flex-direction: column;
    }
}